.column {
    display: inline-block;
    vertical-align: top;
    width: 225px;
}

.card:first-child {
    margin-top: 0;
}

.card {
    height: 280px;
    width: 200px;
    margin: -210px auto;
    background-image: url(svg/blue.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.success {
    color: green;
}

.fail {
    color: red;
}

#success, #fail {
    display: none;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}
